.bigup_fichiers .fichier {
	background:rgba(255,255,255,.95);
	border: 1px solid #ddd;
	padding: 10px;
	overflow: auto;
}
.bigup_fichiers .fichier:first-child {
	border-top-left-radius:5px;
	border-top-right-radius:5px;
}
.bigup_fichiers .fichier:last-child {
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
	margin-bottom:1em;
}
.bigup_fichiers .fichier + .fichier {
	border-top:none;
}
.bigup_fichiers .fichier.erreur {
	border-left: 2px solid #fa4b19;
}
.bigup_fichiers .fichier .message_erreur {
	color: #D31603;
}
.bigup_fichiers .fichier.succes {
	border-left: 2px solid #88c924;
}
.bigup_fichiers .fichier .message_ok {
	color: #54a509;
}

.bigup_fichiers progress {
	margin-top:10px;
	clear:both; width:100%;
	height:10px;
}

.bigup_fichiers .description {
	display: flex;
	width:100%;
	justify-content: center;
}

.bigup_fichiers .vignette_extension,
.bigup_fichiers .previsualisation {
	width:52px;
	min-height:52px; /* laisser de l'espace à l'icone */
	margin-right:.5em;
}
/**
 * Centrage de l'image de fond carrée, responsive.
 * @see : http://www.mademyday.de/css-height-equals-width-with-pure-css.html
 */
.bigup_fichiers .previsualisation {
	width: 52px;
	position:relative;
}
.bigup_fichiers .previsualisation:before{
	content: "";
	display: block;
	padding-top: 100%; 	/* initial ratio of 1:1*/
}
.bigup_fichiers .previsualisation > span {
	background-repeat:no-repeat;
	background-position: center center;
	background-size:cover;
	border-radius: 3px;
	position:  absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}

.bigup_fichiers .infos {
	word-break: break-all;
	flex: 1;
	display: flex;
	justify-content: center;
	flex-direction: column;
}
.bigup_fichiers .infos span {
	display:block;
}

.bigup_fichiers .actions {
	margin-top:1em;
	margin-left:1em;
	text-align:right;
}
.bigup_fichiers .actions .bigup-btn.btn {
	padding: 3px 8px;
}

.dropfile {
	border: 2px dashed #eee;
	border-radius: 5px;
	line-height: 34px;
	padding: 15px;
	background:rgba(255,255,255,.95);
	transition : border 200ms ease-out;
}
.dropfile.drag-over {
	border-color:#bbb;
}
.dropfileor {
	font-weight:bold;
}

.bigup-btn.btn {
	-moz-user-select: none;
	border: 1px solid transparent;
	border-radius: 4px;
	cursor: pointer;
	display: inline-block;
	font-size: 14px;
	font-weight: normal;
	line-height: 1.42857;
	margin-bottom: 0;
	padding: 6px 12px;
	text-align: center;
	vertical-align: middle;
	white-space: nowrap;
}
.bigup-btn.btn:hover,
.bigup-btn.btn:focus {
	color: #333;
	text-decoration: none;
}

.bigup-btn.btn-default {
	background-color: #fff;
	border-color: #ccc;
	color: #333;
}
.bigup-btn.btn-default:hover,
.bigup-btn.btn-default:focus,
.bigup-btn.btn-default:active {
	background-color: #ebebeb;
	border-color: #adadad;
	color: #333;
}

/* Spécificités lorsqu'utilisé dans la colonne #navigation du privé */
#page #navigation .bigup_fichiers .description {
	flex-wrap:wrap;
	align-items: center;
}
#page #navigation .bigup_fichiers .actions {
	text-align:center;
	margin:.5em 0 0;
	width:100%;
}
#page #navigation .bigup_fichiers .previsualisation {
	width:100%;
	margin:0 0 .5em;
}
#page #navigation .bigup_fichiers .previsualisation + .infos {
	text-align:center;
	flex-basis: 100%;
	display:none;
}


#page #navigation .dropfile {
	padding: 25px 15px 15px;
	text-align:center;
}
#page #navigation .dropfileor {
	display:block;
}



/* Spécificités sur des formulaires */
.formulaire_joindre_document .editer_fichier_upload .dropfile {
	padding: 50px 15px;
	text-align:center;
}
